<h4>Internal Server Error</h4>

@if(error){
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you are seeing this error, then Angular is not to blame!</p>
    <p>What to do next🧐</p>
    <ol>
        <li>Open chrome dev tools and check the failing network request in the network tab</li>
        <li>Examine the URL of the failing request</li>
        <li>Reproduce the error in postman - if you can reproduce it then angular is not to blame</li>
    </ol>
    <p class="font-weight-bold"> Following is the stack trace - check the first 2 line. This tells you exactly which line of code caused the problem!</p>
    <hr>
    <code class="mt-5" style="background-color: whitesmoke;">
        {{error.details}}
    </code>
    <hr>
    <p>Or just use ChatGPT and you will be fine😃</p>
}
