<div class="events-container">


<div class="events-container">
  <h2 class="section-title">Events</h2>

  <div class="event-grid">
    <div class="event-card" *ngFor="let event of events">
      <div class="event-image">
        <img [src]="event.photo" alt="Event image" />
      </div>

      <div class="event-content">
        <h3 class="event-title">{{ event.eventName }}</h3>
        <p class="event-description">{{ event.eventDescription }}</p>
        <p class="event-date"><strong>Date:</strong> {{ event.eventDate | date:'medium' }}</p>
        <p class="event-club" *ngIf="event.clubs?.length">
          <strong>Club:</strong> {{ event.clubs[0].clubName }}
        </p>
        
        <a [routerLink]="['/events', event.eventId, 'learn-more']">
          <button class="event-button">Learn more</button>
        </a>
        
        
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

