<app-nav-bar></app-nav-bar>

<div class="container">
  
  <h3 class="table-title">All Users</h3>
  <div class="table-container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th>Change Role</th>
          <th>Save</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.userName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>
            <ng-container *ngIf="user.role === 'SuperAdmin'; else roleSelect">
                <span class="text-danger">This is a SuperAdmin!!</span>
              </ng-container>
              <ng-template #roleSelect>
                <div class="role-container">
                <select [(ngModel)]="user.newRole" class="role-dropdown">
                  <option value="User">User</option>
                  <option value="Admin">Admin</option>
                </select>
                </div>
              </ng-template>
          </td>
          <td> <button (click)="changeRole(user.id, user.newRole)" class="btn btn-primary btn-save">Save</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


   